<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="../../static/css/consult_form.css">
    <link rel="shortcut icon" href="../../static/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include '/includes/menu_nav.html'%}
    
    <div class="main">
        <h2>Novo cliente</h2>
    </div>

    <div class="form-container">
        <div class="card card-form">
            <h4 class="text-left mb-4">Preencha os campos</h4>
            
            <form method="POST" action="/cliente/inserir">
                <div class="mb-2">
                    <label for="nome" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do cliente" required>
                </div>

                <div class="mb-2">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite o cpf do cliente" required>
                </div>
                                   
                <div class="mb-2">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail do cliente" required>
                </div>

                <div class="mb-2">
                    <label for="endereco" class="form-label">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua xxx, 999 - Bairro" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="confirm-password" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="(xx)xxxxx-xxxx" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-50">Continuar</button>
                </div>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
