<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista - Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/consult_form.css">
    <link rel="shortcut icon" href="../../static/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include '/includes/menu_nav.html'%}
    {% include '/includes/mensagem_success.html'%}
    {% include '/includes/mensagem_error.html'%}
    {% include '/includes/modal_confirm.html'%}
 
    <div class="main">
        <h2>Clientes</h2>
    </div>

    <div class="form-container">
        <div class="card">
            <h4 class="text-left mb-4">Campo de busca</h4>
            <form>
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o nome do cliente">
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <label for="nome" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o cpf do cliente">
                    </div>
                    
                    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-end">
                        <button type="submit" formaction="{{ url_for('cliente') }}" class="btn btn-success w-100">Novo Cliente</button>
                    </div>
                </div>
            </form>

            <div class="card-body table-overflow">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Telefone</th>
                            <th scope="col" colspan="2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ cliente.name }}</td>
                            <td>{{ cliente.cpf }}</td>
                            <td>{{ cliente.phone }}</td>
                            <td>
                                <a href="#">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form id="deleteForm" action="{{ url_for('delete_cliente', id=cliente.client_id) }}" method="POST" style="display:inline;">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>            
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/temporizador_mensagem.js"></script>
    <script src="../../static/js/modal_confirm.js"></script>
</body>
</html>
