<div class="form-container">
    <div class="card">
        <h4 class="text-left mb-4">Campo de busca</h4>
        <form>
            <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome do pet">
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <label for="tutor" class="form-label">Tutor</label>
                    <input type="text" class="form-control" id="tutor" placeholder="Digite o nome do tutor">
                </div>
                
                <div class="col-12 col-md-3 col-lg-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
                </div>
                <div class="col-12 col-md-3 col-lg-2 d-flex align-items-end">
                    <button type="submit" formaction="{{ url_for('create_pet') }}" class="btn btn-success w-100">Novo Pet</button>
                </div>
            </div>
        </form>

        <div class="card-body table-overflow">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Espécie</th>
                        <th scope="col" colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.species }}</td>
                        <td class="d-flex align-items-center flex-nowrap">
                            <a href="#">
                                <button type="button" class="btn btn-info me-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                            <form action="#">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>