.navbar {
    background-color: yellow;
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
}
.main {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.navbar-brand {
    display: flex;
    gap: 5px;
    color: #6F028A;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.card {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.card-form{
    max-width: 410px;
}

.form-control, .btn {
    margin-bottom: 10px;
}

.table-overflow {
overflow-x: scroll;
}

@media (min-width: 992px) {
    .navbar-nav {
        gap: 40px;
    }
}