<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">
            <img src="../../static/assets/logo.png" alt="Logo"  height="40" class="d-inline-block align-text-top">
            <h2>PetCtrl</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">Agenda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="clientePetDropdown" role="button" data-bs-toggle="dropdown">
                        Cliente/Pet
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('listar_clientes') }}">Cliente</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('listar_pets') }}">Pet</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('prontuario.form_prontuario') }}">Veterinário</a>
                </li>
            </ul>

            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                        <img src="../../static/assets/logo.png" alt="Perfil" width="30" height="30" class="d-inline-block align-text-top me-2">
                        {{ nome_usuario }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li><a class="dropdown-item" href="#">Ajuda</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a></li>
                    </ul>
                </div>                       
        </div>
    </div>
</nav>