<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop</title>
    <link rel="stylesheet" href="../../static/css/produtos.css">
    <link rel="shortcut icon" href="../../static/assets/favicon.ico" type="image/x-icon">
</head>
<body>

<nav>
    <ul>
        <div class="logo">
        <li><a href="#home"><img src="../../static/assets/logo.jpg" width="60" height="50">PetShop</a></li>
        </div>
        <li><a href="../../templates/agendamento/agendamento.html">Agenda</a></li>
        <li><a href="../../templates/cliente/lista_cliente.html">Cliente/pet</a></li>
        <li><a href="../../templates/servicos/servicos.html">Serviços</a></li>
        <li><a href="../../templates/produtos/produtos.html">Produtos</a></li>
        <li><a href="../../templates/funcionarios/lista_funcionario.html/">Funcionários</a></li>
        <li><a href="../../templates/usuario/perfil_do_usuario.html">Usuário</a></li>
    </ul>
</nav>
<div id="home">
    <h1>Produtos</h1>
</div>
<div class="form-container">
    <div class="card">
        <h4 class="text-left mb-4">Campo de busca</h4>
        <form>
            <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome_pet" placeholder="Digite o nome do pet">
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <label for="nome" class="form-label">Dono</label>
                    <input type="text" class="form-control" id="nome_dono" placeholder="Digite o nome do dono">
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <label for="tipo" class="form-label">Tipos de Produtos</label>
                    <select class="form-select" id="tipo" name="servico">
                        <option value="Coleiras">Coleiras</option>
                        <option value="Ração">Ração</option>
                        <option value="Mordedores">Mordedores</option>
                        <option value="Petiscos">Petiscos</option>
                        <option value="Bolas">Bolas</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
                
                <div class="col-12 col-md-3 col-lg-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
                </div>
            </div>
        </form>

        <div class="card-body table-overflow">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Dono</th>
                        <th scope="col">Tipo de Produtos</th>
                        <th scope="col" colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet, dono in pets %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ pet.name }}</td>
                        <td>{{ dono }}</td>
                        <td>{{ pet.tipo_de_produtos }}</td>
                        <td>
                            <a href="{{ url_for('editar_pet', id=pet.pet_id) }}">
                                <button type="button" class="btn btn-info">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <form id="deleteForm" action="{{ url_for('delete_pet', id=pet.pet_id) }}" method="POST" style="display:inline;">
                                <button type="button" class="btn btn-danger" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#confirmDeleteModal"
                                    data-item-id="{{ pet.pet_id }}"
                                    data-item-type="pet">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                
        </div>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/temporizador_mensagem.js"></script>
<script src="../../static/js/modal_confirm.js"></script>

<div class="text-center">
    <button type="submit" class="btn btn-primary btn-small">Criar novo produto</button>
</div>
</body>
</html>